@model AlbumCreateModel
@{
	bool create = (Model.EditAlbumId == null);

	string albumUrl = Html.ActionLinkUrl(MVC.Account.Albums.CreateAlbum());
	string imageUrl = Html.ActionLinkUrl(MVC.Account.Albums.UploadImage());
	string onSubmit = "new CreateAlbum().onFormSubmit('"+albumUrl+"','"+imageUrl+"',"+
		(create ? "null" : Model.EditAlbumId+"")+"); return false;";
	
	string title = (create ? "Create New Album" : "Edit Album");
	string errSumm = "Album was not "+(create ? "created" : "edited")+" successfully.";
}

<div class="row">
	<div class="twelve columns">
		<h4 class="borderBot">
			@title
		</h4>
		<form id="CreateAlbum" onsubmit="@onSubmit">
			<fieldset>
				@Html.ValidationSummary(true, errSumm)
				
				@Html.LabelFor(m => m.Title)
				@Html.TextBoxFor(m => m.Title, new { value=Model.Title, maxlength=64 })
				@Html.ValidationMessageFor(m => m.Title)
				
				@Html.LabelFor(m => m.Files)
				@Html.TextBoxFor(m => m.Files, new { type="file", multiple="true" })<br/>
				@Html.ValidationMessageFor(m => m.Files)
				<br/>
				<br/>
				<input id="SubmitButton" type="submit" class="formButton" value="Create Album" />
			</fieldset>
		</form>
		<fieldset id="CreateAlbumProgress" style="display: none;">
			<p id="Title" style="font-weight: bold;">
			</p>
			<p id="Info">
			</p>
		</fieldset>
	</div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/exif/binaryajax.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/exif/imageinfo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/exif/exif.js")"></script>