@model AlbumCreateModel
@{
	string albumUrl = Html.ActionLinkUrl(MVC.Account.Albums.UpdateAlbumTitle());
}

<div class="row">
	<div class="twelve columns">
		<h4 class="borderBot">
			Create New Album
		</h4>
		<form id="CreateAlbum" onsubmit="submitCreateAlbum('@(albumUrl)'); return false;">
			<fieldset>
				@Html.ValidationSummary(true, "Album was not created successfully.")
				
				@Html.LabelFor(m => m.Title)
				@Html.TextBoxFor(m => m.Title, new { maxlength=64 })
				@Html.ValidationMessageFor(m => m.Title)
				
				@Html.LabelFor(m => m.Files)
				@Html.TextBoxFor(m => m.Files, new { type="file", multiple="true" })<br/>
				@Html.ValidationMessageFor(m => m.Files)
				<br/>
				<br/>
				<input id="SubmitButton" type="submit" class="formButton" value="Create Album" />
				<p id="Progress" style="display: none; font-weight: bold;">
					PROGRESS!
				</p>
			</fieldset>
		</form>
		<fieldset id="CreateAlbumProgress" style="display: none;">
			<p id="Title" style="font-weight: bold;">
			</p>
			<p id="Info">
			</p>
		</fieldset>
	</div>
</div>