@model HeaderModel

<div class="column three">
	@Html.ActionLink("The Kinstner Photo Gallery", MVC.Main.Home.Index(), new { @class="logo" })
</div>
<div class="column nine">
	<p class="auth">
		@if ( Model.IsPersonAuthenticated ) {
			<text>
				@Html.ActionLink(Model.User.Name, MVC.Account.Home.Index())
				(<a href="#" onclick="@Model.GetPersonLoginOpenScript(true)">switch</a>, 
				@Html.ActionLink("logout", MVC.Header.PersonLogout()))
			</text>
		}
		else {
			<text>
				<a href="#" onclick="@Model.GetPersonLoginOpenScript(false)">Login</a>
			</text>
		}
	</p>
</div>