@model HeaderModel

<div class="column three">
	@Html.ActionLink("The Kinstner Photo Gallery", MVC.Main.Home.Index(), new { @class="logo" })
</div>
<div class="column nine">
	<p class="auth">
		@if ( Model.IsPersonAuthenticated ) {
			<text>
				@Html.ActionLink(Model.User.Name, MVC.Account.Home.Index())
				(<a onclick="openFabPop(@(Html.Raw(Model.GetPersonLoginOpenScript(true))));"
					href="#">switch</a>, 
				@Html.ActionLink("logout", MVC.Header.PersonLogout()))
			</text>
		}
		else {
			<text>
				<a onclick="openFabPop(@(Html.Raw(Model.GetPersonLoginOpenScript(false))));"
					href="#">Login</a>
			</text>
		}
	</p>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/gallery/fabPopup.js")"></script>