@model HeaderModel

<nav class="top-bar">
		
	<ul class="title-area">
		<li class="name">
			<p class="logo">
				@Html.ActionLink("The Kinstner Photo Gallery", MVC.Main.Albums.Index())
			</p>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span></span></a>
		</li>
	</ul>
		
	<section class="top-bar-section">
		<ul class="right">
			<li>
				@Html.ActionLink("Albums", MVC.Main.Albums.Index())
			</li>
			<li class="divider"></li>
			<li>
				<div class="login">
					@if ( Model.IsPersonAuthenticated ) {
						@Html.ActionLink(Model.User.Name, MVC.Account.Home.Index());
					}
					else {
						<a onclick="openFabPop(@(Html.Raw(Model.GetPersonLoginOpenScript(false))));" 
							href="#">Login</a>
					}
				</div>
			</li>
		</ul>
	</section>

</nav>

<script type="text/javascript" src="@Url.Content("~/Scripts/gallery/fabPopup.js")"></script>