@model IList<WebAlbumTag>
@{
	for ( int i = 0 ; i < 2 ; ++i ) {
		//double sum = 0;
		//int max = 0;
		var tags = new List<WebAlbumTag>();
	
		foreach ( WebAlbumTag t in Model ) {
			bool isPerson = (t.Disamb == "female person" || t.Disamb == "male person");

			if ( i == 0 && !isPerson ) {
				continue;
			}

			if ( i == 1 && isPerson ) {
				continue;
			}

			tags.Add(t);
			//max = Math.Max(max, t.PhotoIds.Count);
			//sum += t.PhotoIds.Count;
		}

		//double mult = 1/(max/sum);

		<p style="font-weight: bold;">
			@(i == 0 ? "People" : "Tags")
		</p>
		
		<div style="width: 100%; font-size: 0px; margin-bottom: 20px;">
			@foreach ( WebAlbumTag t in tags ) {
				string title = t.Disamb; //+(t.Note == null ? "" : " ("+t.Note+")");
				//double a = (t.PhotoIds.Count/sum)*mult;
				//a = (a*0.8)+0.2;
				
				<div title="@title" class="tag" data-ids="@String.Join(",", t.PhotoIds)">
					@t.Name<span class="number">@t.PhotoIds.Count</span>
				</div>
			}
		</div>
	}
}

<script>
	var thumbMap = {};

	$('#Thumbs .thumb').each(function() {
		var p = $(this);
		thumbMap[p.attr('data-id')] = p;
	});

	$('#Tags .tag').click(function() {
		var t = $(this);

		if ( t.attr('class') != 'tag' ) {
			$('#Thumbs .thumb').show();
			t.attr('class', 'tag');
			return;
		}

		$('#Tags .tag').attr('class', 'tag');
		t.attr('class', 'tag tagActive');

		var ids = t.attr('data-ids').split(',');
		$('#Thumbs .thumb').hide();

		for ( var i = 0 ; i < ids.length ; ++i ) {
			thumbMap[ids[i]].show();
		}
	});
</script>