@model AlbumsModel

<div class="row">
	<div class="large-12 columns">
		@foreach ( WebAlbum a in Model.Albums ) {
			string url = Url.Content("~"+a.FirstPhoto.ImageUrl);
			
			<div class="thumb album">
				<div class="image" style="background-image: url(@url);">
				</div>
				<p class="title textBox">
					@a.Title
				</p>
				<div class="details">
					<p class="textBox">
						by <strong>@a.UserName</strong>
					</p>
					<p class="textBox">
						@a.DateRangeString
					</p>
					<p class="textBox">
						@a.NumPhotos photo@(a.NumPhotos==1?"":"s")
					</p>
				</div>
				@Html.ActionLink(" ", MVC.Main.Albums.Photos(a.AlbumId))
			</div>
		}
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="large-12 columns">
		<p style="text-align: center;">
			@Html.ActionLink("View all albums >", MVC.Main.Albums.All(null))
		</p>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		if (!isTouch()) {
			$(".details").hide();

			$(".album")
				.mouseenter(function() {
					$(this).find(".details").stop().show();
				})
				.mouseleave(function() {
					$(this).find(".details").stop().fadeOut(200);
				});
		}
	</script>
}
