@model AlbumModel
@{
	WebAlbum a = Model.Album;
}

<div class="row">
	<div class="large-4 push-8 columns">
		<div class="rightTextBox">
			<h2>
				@a.Title
			</h2>
			<p>
				Album by <strong>@a.UserName</strong><br/>
				@a.DateRangeString
			</p>
			<div id="Meta" style="margin-top: 20px;">
				<img src="@Url.Content("~/Content/gallery/wait.gif")" />
			</div>
			<div id="Tags" style="margin-top: 20px;">
				<img src="@Url.Content("~/Content/gallery/wait.gif")" />
			</div>
		</div>
	</div>
	
	<div class="show-for-small columns separator"></div>
	
	<div class="large-8 pull-4 columns" id="Thumbs">
		@foreach ( IWebPhoto p in Model.Photos ) {
			Html.RenderPartial(MVC.Main.Shared.Views._PhotoThumb, p);
		}
		
		<div id="LiveSearchTest" style="clear:left; padding-top: 20px;"></div>
	</div>
</div>

@{ Html.RenderPartial(MVC.Main.Shared.Views._PhotoLayer, Model.Photos); }

@section scripts {
	<script type="text/javascript">
		var phoSet = new PhotoSet();
		
		@foreach ( IWebPhoto p in Model.Photos ) {
			string url = Url.Content("~"+p.ImageUrl);
			<text>phoSet.addData(@p.PhotoId, '@url', '@p.Created', @p.Ratio);</text>
		}
		
		var phoSetView = new PhotoSetView(phoSet, '#Thumbs');
		phoSetView.initView();

		var metaUrl = '@(Url.Action(MVC.Main.Albums.MetasData(a.AlbumId)))';
		var phoSetMeta = new PhotoSetMeta(phoSet, metaUrl);
		var phoSetMetaView = new PhotoSetMetaView(phoSetMeta, '#Meta');
		phoSetMeta.loadData();

		var tagUrl = '@(Url.Action(MVC.Main.Albums.TagsData(a.AlbumId)))';
		var phoSetTags = new PhotoSetTags(phoSet, tagUrl);
		var phoSetTagsView = new PhotoSetTagsView(phoSetTags, '#Tags');
		phoSetTags.loadData();
		
		var phoLayView = new PhotoLayerView(phoSet, '#PhotoViewer');
		phoLayView.initView();

		var tagSearchUrl = '@Url.Action(MVC.Main.Photos.Tags("", null))/';
		var test = new LiveSearchTags(tagSearchUrl);
		//test.updateText('name');
		var testView = new LiveSearchView(test, '#LiveSearchTest');
		testView.initView('Enter test tag text...', true);
	</script>
}
