@model AlbumModel
@{
	WebAlbum a = Model.Album;
}

<div id="PhotoSet">
</div>

@section scripts {
	<script type="text/javascript">
		var ps = new PhotoSet('@a.Title', '@a.DateRangeString');
		ps.initMetaInfo('@(Url.Action(MVC.Main.Albums.MetasData(a.AlbumId)))');
		ps.initTagsInfo('@(Url.Action(MVC.Main.Albums.TagsData(a.AlbumId)))');

		ps.initPhotoLayer(
			'@Url.Action(MVC.Main.Photos.Tags(null))/',
			'@Url.Action(MVC.Main.Photos.FindTags("", null))/',
			'@Url.Action(MVC.Main.Photos.AddTag())/'
		);
		
		@foreach ( IWebPhoto p in Model.Photos ) {
			string url = Url.Content("~"+p.ImageUrl);
			<text>ps.addData(@p.PhotoId, '@url', '@p.Created', @p.Ratio);</text>
		}
		
		var psView = new PhotoSetView(ps, '#PhotoSet', '#Site');
		psView.buildView();
	</script>
}
