@model AlbumModel
@{
	WebAlbum a = Model.Album;
}

<div class="row">
	<div class="large-4 push-8 columns">
		<div class="rightTextBox">
			<h2>
				@a.Title
			</h2>
			<p>
				Album by <strong>@a.UserName</strong><br/>
				@a.DateRangeString
			</p>
			<div id="Meta" style="margin-top: 20px;">
				<img src="@Url.Content("~/Content/gallery/wait.gif")" />
			</div>
			<div id="Tags" style="margin-top: 20px;">
				<img src="@Url.Content("~/Content/gallery/wait.gif")" />
			</div>
		</div>
	</div>
	
	<div class="show-for-small columns separator"></div>
	
	<div class="large-8 pull-4 columns" id="Thumbs">
		@foreach ( IWebPhoto p in Model.Photos ) {
			Html.RenderPartial(MVC.Main.Shared.Views._PhotoThumb, p);
		}
	</div>
</div>

@*{ Html.RenderPartial(MVC.Main.Shared.Views._PhotoViewer, Model.Photos); }*@

@section scripts {
	<script type="text/javascript">
		var phoSet = new PhotoSet();
		var phoSetMeta = new PhotoSetMeta(phoSet);
		var phoSetMetaView = new PhotoSetMetaView(phoSetMeta, '#Meta');
		
		@foreach ( IWebPhoto p in Model.Photos ) {
			string url = Url.Content("~"+p.ImageUrl);
			<text>phoSet.addData(@p.PhotoId, '@url', '@p.Created', @p.Ratio);</text>
		}

		$(".border").hide();

		if ( !isTouch() ) {
			$(".thumb")
				.mouseenter(function () {
					$(this).find(".border").show();
				})
				.mouseleave(function () {
					$(this).find(".border").hide();
				});
		}

		jQuery.post('@(Url.Action(MVC.Main.Albums.MetasData(a.AlbumId)))', null, onMetaLoad);
		jQuery.post('@(Url.Action(MVC.Main.Albums.TagsData(a.AlbumId)))', null, onTagLoad);

		function onMetaLoad(data) {
			phoSetMeta.setMetas(data);
			phoSetMetaView.buildView();
		}
		
		function onTagLoad(data) {
			$('#Tags').html("found");
		}
	</script>
}
