@model IWebPhoto

<div class="thumb photoSmall" data-id="@Model.PhotoId"
		style="background-image: url(@Url.Content("~"+Model.ThumbUrl));" 
		title="@Model.ImgName - @Model.Created" onclick="viewPhoto(@Model.PhotoId); return false;">
	<div class="border"></div>
</div>