@model IList<IWebPhoto>

<div id="PhotoViewerPadding"></div>

<div id="PhotoViewer">
	<div class="photo"></div>
	<div class="bottomBar">
		<p class="details"></p>
		<div class="buttons">
			<a href="#" title="Tag Mode" onclick="toggleTagMode(); return false;">
				Tag Mode
			</a>
			<a href="#" title="Previous Photo" onclick="prevPhoto(); return false;">
				<img src="@Url.Content("~/Content/gallery/arrow-left.png")"/>
			</a>
			<a href="#" title="Next Photo" onclick="nextPhoto(); return false;">
				<img src="@Url.Content("~/Content/gallery/arrow-right.png")"/>
			</a>
			<a href="#" title="Close Photo" onclick="closePhoto(); return false;">
				<img src="@Url.Content("~/Content/gallery/close.png")"/>
			</a>
		</div>
	</div>
	@{ Html.RenderPartial(MVC.Main.Shared.Views._TagLayer); }
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/gallery/photoViewer.js")"></script>

<script type="text/javascript">
	initPhotoView();

	initTagSearch(
		'@Url.Action(MVC.Main.Photos.LocalTags(""))/',
		'@Url.Action(MVC.Main.Photos.FabricTags(""))/'
	);

	@foreach ( IWebPhoto p in Model ) {
		string url = Url.Content("~"+p.ImageUrl);
		<text>
			registerPhoto(@p.PhotoId, '@p.ImgName', '@url', '@p.Created', @p.AlbumId);
		</text>
	}

	viewPhoto(6554);
</script>