@model IList<IWebPhoto>

<div id="PhotoViewerPadding"></div>

<div id="PhotoViewer">
	<img class="photo" />
	<div class="bottomBar" id="PhotoViewBar">
		<p class="details"></p>
		<div class="buttons">
			<a href="#" title="Tag Mode" class="tagBtn">
				<img src="@Url.Content("~/Content/gallery/tag.png")"/>
			</a>
			<a href="#" title="Previous Photo" class="prevBtn">
				<img src="@Url.Content("~/Content/gallery/arrow-left.png")"/>
			</a>
			<a href="#" title="Next Photo" class="nextBtn">
				<img src="@Url.Content("~/Content/gallery/arrow-right.png")"/>
			</a>
			<a href="#" title="Close Photo" class="closeBtn">
				<img src="@Url.Content("~/Content/gallery/close.png")"/>
			</a>
		</div>
	</div>

	@*{ Html.RenderPartial(MVC.Main.Shared.Views._TagLayer); }

	<div class="bottomBar tagBar" id="TagModeBar">
		<a href="#">
			Done
		</a>
	</div>*@
</div>

<script type="text/javascript">
	var tagSearchUrl = '@Url.Action(MVC.Main.Photos.Tags("", null))/';
	var addTagUrl = '@Url.Action(MVC.Main.Photos.AddTag())/';
</script>