<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no;" />
	<!--meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /-->
	<title>@ViewBag.Title</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	@Styles.Render("~/Content/foundation/css")
	@Styles.Render("~/Content/css")
	@RenderSection("head", required: false)
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	
	@RenderBody()
	
	<script type="text/javascript">
		document.write(
			'<script src='+
				'@Url.Content("~/Scripts/jquery.js")'+
			'><\/script>'
		);
    </script>

	@*Scripts.Render("~/bundles/foundation")*@
	<script src="@Url.Content("~/Scripts/foundation/foundation.js")"></script>
	<script src="@Url.Content("~/Scripts/foundation/foundation.section.js")"></script>
	<script src="@Url.Content("~/Scripts/foundation/foundation.topbar.js")"></script>
	@RenderSection("scripts", required: false)

	<script type="text/javascript">
		$(function () {
			$(document).foundation();
		});
	</script>

</body>
</html>
