@model WebAlbum

<div class="thumb album" style="background-image: url(@Url.Content("~"+Model.FirstPhoto.ImageUrl));">
	<p class="title textBox">
		@Model.Title
	</p>
	<div class="details">
		<p class="textBox">
			by <strong>@Model.UserName</strong>
		</p>
		<p class="textBox">
			@Model.DateRangeString
		</p>
		<p class="textBox">
			@Model.NumPhotos photo@(Model.NumPhotos==1?"":"s")
		</p>
	</div>
	@Html.ActionLink(" ", MVC.Main.Home.Albums(Model.AlbumId))
</div>